# streamlit
# langchain
# langgraph
# langchain-openai
# langchain-community
# langchain_chroma 
# chromadb
# pandas
# openpyxl
# pypdf
# python-dotenv
# tiktoken
# requests
# langchain-huggingface
# sentence-transformers
# streamlit_js

streamlit
pandas
langchain
langchain-openai
langchain_chroma
langchain_huggingface
langchain-text-splitters
langchain-community 
python-dotenv
sentence-transformers
pypdf
torchvision
openpyxl
fastmcp-slim[server]